*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #472be7;
    /**filter: brightness(0.8);**/
}

h1{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 100;
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

form{
    background-color: #ffffff;
    margin: 10px;
}

#name, #email{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 30px;
    margin-left: 15px;
}

#name{
    margin-top: 23px;
}

#name-label, #email-label{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#name-label{
    position: relative;
    top: 20px;
}

p{
    font-size: 17px;
    margin-left: 15px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.radio{
    margin-top: 10px;
    margin-left: 18px;
    align-items: center;
}

.text{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
    width: 80%;
    height: 100px;
    margin-left: 15px;
    margin-top: 7px;
}

#submit{
    width: 27%;
    height: 37px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 27px;
    background-color: #472be7;
    filter: brightness(0.8);
    color: #ffffff;
}

/** The desktop responsiveness **/
@media only screen and (min-width: 768px){
    h1{
        font-size: 80px;
        margin-bottom: -120px;
        text-align: center;
    }

    form{
        margin: 150px;
    }

    #name, #email{
        display: flex;
        flex-direction: row;
        gap: 5px;
        width: 36%;
        margin-left: 100px;
    }

    #name-label, #email-label{
        margin-left: 100px;
    }

    #email{
        margin-left: 500px;
        margin-top: -53px;
    }

    #email-label{
        margin-left: 500px;
        position: absolute;
        top: 0;
        margin-top: 150px;

    }

    p{
        margin-left: 160px;
    }

    .radio{
        margin-left: 100px;
    }

    textarea{
        margin: 10px 100px;
    }

    #submit{
        width: 12%;
        margin-left: 100px;
    }
}